// Dark Mode Colors
$primary-color: #1DB954;
$accent-color: #BB86FC;
$danger-color: #FF5252;
$success-color: #66BB6A;
$heading-color: #E1E1E1;
$normal-text-color: #B3B3B3;
$link-color: #00BFFF;
$background-color-1: #121212;
$background-color-2: #1E1E1E;

// Light Mode Colors
$primary-color: #1DB954;
$accent-color: #BB86FC;
$danger-color: #FF6F61;
$success-color: #66BB6A;
$heading-color: #343A40;
$normal-text-color: #495057;
$link-color: #0056b3;
$background-color-1: #E9ECEF;
$background-color-2: #F8F9FA;