// Light Mode Colors
$primary-color: #1DB954;
$accent-color: #BB86FC;
$danger-color: #FF6F61;
$success-color: #66BB6A;
$heading-color: #343A40;
$normal-text-color: #495057;
$link-color: #0056b3;
$background-color-1: #F8F9FA;
$background-color-2: #E9ECEF;