// Dark Mode Colors
$primary-color: #1DB954;
$accent-color: #BB86FC;
$danger-color: #FF5252;
$success-color: #66BB6A;
$heading-color: #E1E1E1;
$normal-text-color: #B3B3B3;
$link-color: #00BFFF;
$background-color-1: #121212;
$background-color-2: #1E1E1E;