// Font Families
$font-family-primary: "Open Sans";
$font-family-secondary: "Exo";

// Font Sizes
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 18px;
$font-size-xlarge: 24px;
$font-size-xxlarge: 32px;

// Font Weights
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-light: 300;